/* LARGE SCREEN STYLES */

@media (min-width: 768px) {
    /* Hide hamburger on larger screens */
    #hamburger {
        display: none;
    }
    /* Navigation layout */
    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    /* Directory grid layout */
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    /* Business images */
    .card img {
        max-width: 150px;
    }
    /* Spotlight layout */
    #spotlight-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    /* Weather & Events centered */
    .weather,
    .events {
        max-width: 700px;
        margin: 40px auto;
    }
}


/* MEDIUM */

@media (min-width: 641px) {
    .grid-container {
        grid-template-areas: "card1 card2" "card3 card4" "card5 card6" "card7 card8";
    }
    .card img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
        transition: 0.3s;
    }
}


/* LARGE */

@media (min-width: 1025px) {
    .grid-container {
        grid-template-areas: "card1 card2 card3 card4" "card5 card6 card7 card8";
    }
}